.header-text{
    text-align: center;
}
.cart-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item{
    width: 600px;
    border: 1px solid rgb(206, 181, 127);
    margin-bottom: 50px;
    padding: 10px ;
    background: rgb(206, 181, 127);
    position: relative;
}
.item h2{
    margin: 0;
    text-align: center;
}
.item img{
    position: absolute;
    width: 50px;
}
.item p{
    white-space: nowrap; 
    text-overflow: ellipsis;
    margin-left: 70px;
    overflow: hidden; 
}
.item-bottom{
    text-align: end;
}