<!DOCTYPE html>
<html>

<head>
    <title>Создание коллекции | Bullet journal</title>
    <meta charset="utf-8">
</head>

<body>
    <header class="collection-header">
        <div class="collection-text">Bullet journal</div>
    </header>
    <h1 class="collection-title"></h1>
    <form name="form-create-collection" class="collection-body">
        <p>Название коллекции</p>
        <input class="create-text" type="text" name="text">

        <a class="collection-save"><button type="submit">Сохранить</button></a>
        <a class="collection-cancel"><button>Отмена</button></a>
    </form>

    <footer>

    </footer>
</body>

</html>