<!DOCTYPE html>
<html>

<head>
    <title class="month-title_page"></title>
    <meta charset="utf-8">
</head>

<body>
    <header class="month-header">
        <div class="month-text">Bullet journal</div>
    </header>
    <h1 class="month-title"></h1>
    <div class="month-body">
        <div class="month-plan">
            <h2>Планы на месяц</h2>
            
          <a class="month-button_collections">
              <button >Коллекции</button>
          </a> 
            <div class="month-dropdown_list">

            </div>
        </div>
        <div class="month-calendar">
            <h2>Планы на день</h2>
            <table class="calendarItem">
                <thead>
                    <tr>
                        <td colspan="4">
                        <td colspan="3">
                    <tr>
                        <td>Пн
                        <td>Вт
                        <td>Ср
                        <td>Чт
                        <td>Пт
                        <td>Сб
                        <td>Вс
                <tbody>
            </table>
        </div>
    </div>
    <footer>

    </footer>
</body>

</html>