$header-color: rgb(238, 175, 81);
$header-color_hover: rgb(187, 115, 6);

.collections-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .collections-text {
        color: $header-color;
        text-align: center;
        font-size: 100px;
        margin-bottom: 50px;
    }
}

.collections-title{
    color: $header-color_hover;
}
.collections-body{
    .days-item_title{
        color: $header-color_hover;
    }
    .days-item{
        width: 290px;
        font-size: 25px;
        td{
           text-align: center;
           cursor: pointer;
        }
    }
    .days-select-date{
        background-color:red;
        border-radius: 50%;
    }
    .days-delete,.days-edit,.days-title-save{
        cursor: pointer;
        margin-left: 10px;
    }
}